@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~daemonite-material/assets/scss/material';

.textfield-box {
  .form-control {
    border-bottom: {
      left-radius: 0;
      right-radius: 0;
    }
  }
  .invalid-feedback,
  .form-text {
    padding-left: $textfield-box-padding-x;
  }
}
