.progress.mt-1(title="#{like_count}/#{dislike_count}" data-toggle="tooltip")
  div(class=progressbar_class aria-valuemax=vote_count aria-valuemin="0" aria-valuenow=like_count role="progressbar" style="width: #{width}%;")
