.comments {
  li {
    .anchor {
      display: block;
      position: relative;
      top: -1 * $body-padding-y;
      visibility: hidden;
    }

    &:hover {
      .delete-comment {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .delete-comment {
    @include transition-standard(all);
    opacity: 0;
    visibility: hidden;
  }
}
