.dropzone-container {
  min-height: 200px;
  position: relative;

  .dropzone-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .dropzone-backdrop {
    background: #000;
    height: 100%;
    left: 0;
    opacity: 0.35;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .dropzone-action {
    z-index: 3;
  }

  input[type='file'] {
    cursor: pointer;
    height: 100%;
    left: 0;
    min-height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}
