.expansion-panel-toggler {
  &:not(.collapsed) {
    .on-collapsed {
      display: none;
    }
  }

  &.collapsed {
    .on-expanded {
      display: none;
    }
  }

  .img-thumbnail {
    max-height: 3rem;
  }
}
