.load-more {
  .spinner-container,
  .material-icons {
    position: relative;
    width: 1rem;
    margin-right: 0.5rem;
    text-align: initial;
    display: inline-block;
    vertical-align: middle;
  }
}
