h1.text-center.mb-5= Book.model_name.human.pluralize

= render(Search::FormComponent.new(q: @q, live_search: true))
= render(partial: 'sort_by', locals: { q: @q, result: @books })
= render(partial: 'results', object: @books, layout: 'results_layout', locals: { parent: 'books' })