@import '~daemonite-material/assets/scss/colors';

// See https://www.materialpalette.com/blue/deep-orange
// for an impression and more inspiration.

$primary: (
  color: $material-color-blue-500,
  dark: $material-color-blue-700,
  light: $material-color-blue-100,
);

$secondary: (
  color: $material-color-deep-orange-a200,
  dark: $material-color-deep-orange-a400,
  light: $material-color-deep-orange-a100,
);

$theme-color-primary: map-get($primary, color);

$body-bg: $light-theme-3;
$floating-label-color-focus: $theme-color-primary;
$form-feedback-valid-color: $black-primary;
$selection-control-color-active: $theme-color-primary;
$slider-thumb-bg: $theme-color-primary;
$textfield-border-color-focus: $theme-color-primary;
$expansion-panel-bg-active: $white;

$body-padding-y: 4.5rem;
