@import 'variables';
@import 'third-parties';
//@import 'mixins';
@import 'base';
//@import 'layout';
@import 'modules';

.dropdown-submenu:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
}

.dropdown-menu .dropdown-toggle::after {
  content: 'arrow_right';
  vertical-align: middle;
}
